.tabs {
    display: flex;
    flex-direction: column;
}

.tabHeaders {
    display: flex;
    border-bottom: 1px solid #dee2e6;
}

.tabBtn {
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    border-bottom: none;
    background: none;
    cursor: pointer;
    border-radius: 4px 4px 0 0;
    margin-bottom: -1px;
}

.tabBtn:hover {
    border-color: #e9ecef #e9ecef #dee2e6;
}

.active {
    background: white;
    border-color: #dee2e6 #dee2e6 white;
    color: #495057;
}

.tabContent {
    padding: 1rem;
    border: 1px solid #dee2e6;
    border-top: none;
}